<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>kIDMOAuth2ClientId</key>
    <string>263010330109-kedidcsn9bc3edj0hi807h0ctniqq814.apps.googleusercontent.com</string>
	<key>kIDMOAuth2ClientSecret</key>
	<string>_bTMFXF95CQZrLwfAx5qyp1N</string>
  </dict>
</plist>
